tensorflow 
tensorflow-datasets 
numpy 
matplotlib
keras
numpy
scipy
pandas
openpyxl
matplotlib
seaborn
plotly
tensorflow-datasets
pillow
opencv-python
scikit-image
tensorboard
transformers
jupyter 
ipykernel
importlib_resources
ucimlrepo